:root {
    --kolor-tla: #060607;
    --kolor-tekstu: #EAFFD9;
    --kolor-akcent-jasny: #219147;
    --kolor-akcent-jasny-szary: #536158;
    --kolor-akcent-ciemny-szary: #272a28;
    --kolor-akcent-ciemny: #0b3d1c;
    --zdj-banner: url("zdj/zielone-liscie-tlo.jpg");
    --wielkosc-tekstu: 16px;
}
/* each table element in its own 'row' - new line */

body{
    height: 100vh;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;  
    background-color: var(--kolor-tla);
    color: var(--kolor-tekstu);
    box-sizing: border-box;
    /* font-size: var(--wielkosc-tekstu); */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header, nav {
    background-color: var(--kolor-akcent-ciemny-szary);
    width: 100vw;
    /* zmienic heigh t */
    height: 150px;
}

nav ul{
    float: left;
    background-color: var(--kolor-akcent-ciemny-szary);
}

nav ul li::marker{
    content: none;
}

nav {
    display:flex;
    text-align:center;
    justify-content: space-around;
    align-items: center;
    
}

a img {
    height: 100px;
    width: auto;
}

header p {
    text-align: center;
}

table, tr, td, th {
    border: 2.5px solid var(--kolor-tekstu);
    border-collapse: collapse;
}

td, th{
    text-align: center;
    padding: 5px;
    justify-content: center;
    /* padding-left: 100px; */
}

tr:nth-of-type(odd) *{
    background-color: var(--kolor-akcent-ciemny);
}

table {
    margin: 20px;
    /* or center this */
}

.tableContainer{
    display:flex;
    justify-content: center;
}

.main {
    text-align: center;
    /* opacity: 0.5; */
}

.danger {
    text-shadow: 1.5px 1.5px var(--kolor-tekstu);
    color: red;
}

.prawy{
    float: right;
}

.lewy {
    float:left;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 10%;
    padding: 10px;
}

footer, footer * {
    background-color: var(--kolor-akcent-ciemny);
    text-align: right;
}

header, header * {
    background-color: var(--kolor-akcent-ciemny-szary);
}

p:not(footer p) {
    margin: 0 60px 0 60px;
}

.button {
    background-color: var(--kolor-akcent-jasny);
}


/* dwa czerne bloki z lewo prawo pod header */


/* responsywność ma być wowowo */

@media only screen and (max-width: 2600px) {

    :root{
        --wielkosc-tekstu:24px
    }

    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }

}

@media only screen and (max-width: 750px) {
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
}

@media only screen and (max-width: 680px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}

@media only screen and (max-width: 480px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}